/* ========== Nav Styling ========== */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--mb-0-5);
    margin-right: var(--mb-0-25);
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: var(--h3-font-size);
    cursor: pointer;
    margin-right: 2rem;
}

.nav__toggle:hover {
    color: var(--first-color);
}

.navbar-brand {
    font-family: var(--robotoMono-font);
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        right: 0;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.5s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    cursor: pointer;
    color: var(--first-color);
    border-radius: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    height: 38px;
    width: 38px;
    text-align: center;
    background: var(--body-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
    box-shadow: 0 0 0.5em rgb(0 0 0 / 50%);
    background: var(--background-body-color);
}

/* Show Menu */

.show-menu {
    bottom: 0;
}

/* Active link */
.active-link {
    color: var(--first-color);
}

/* Change background header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* Color icons theme */
.fa-sun {
    color: var(--title-color);
}